@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --black: #000;
  --black-rgb: 0, 0, 0;
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --primary: #FF6D2C; */
  /* --primary: #C3A3CD; */
  --primary: #bf92d0;
  /* --primary-rgb: 255, 109, 44; */
  /* --primary-rgb: 195, 163, 205; */
  --primary-rgb: 191, 146, 208;
  /* --primary-light: #ff9162; */
  --primary-light: #fcf4ff;
  /* --primary-light-rgb: 255, 145, 98; */
  --primary-light-rgb: 195, 163, 205;
  /* --secondary: #F9E8D9; */
  --secondary: #f1f1f1;
  /* --secondary-rgb: 249, 232, 217; */
  --secondary-rgb: 241, 241, 241;
}

body {
  color: rgb(var(--foreground-rgb));
  /* font-family: 'Bodoni Moda', serif !important; */
  font-family: "Montserrat", sans-serif;
}
.footer{
  background: url(../app/assets/images/footer-pattern-bg.svg);
  background-size: contain;
  background-repeat: repeat-x;
  position: relative;
  z-index: 1;
  padding-top: 80px;
  padding-bottom: 40px;
}
@media screen and (max-width: 600px){
  .footer{
    background-size: cover;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}
.footer::after{
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.9;
}
.common__page__section{
  width: 100%;
  padding-top: 100px;
  background-image: url(assets/images/page-banner.png);
  background-size: cover;
  background-position: center center;
  min-height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.common__page__section::before {
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: #000;
  opacity: 0.6;
}
.btn__primary{
  border: 1px solid var(--primary);
  background-color: var(--primary);
  color: var(--white);
  font-size: 18px;
  text-transform: capitalize;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
}
.btn__primary:hover{
  color: var(--primary);
  background-color: transparent;
}
.btn__primary_outline{
  border: 1px solid var(--white);
  background-color: var(--white);
  color: var(--primary);
  font-size: 18px;
  text-transform: capitalize;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
}
.btn__primary_outline:hover{
  color: var(--white);
  background-color: transparent;
}
/* Stylish Card Design */
.card {
  position: relative;
  background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover {
  transform: rotate(-5deg) scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.card__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #fff;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}

.card:hover .card__content {
  transform: translate(-50%, -50%) rotate(0deg);
  opacity: 1;
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: #333;
  font-weight: 700;
}

.card__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #777;
  line-height: 1.4;
}

.card:hover svg {
  scale: 0;
  transform: rotate(-45deg);
}
/* Enquiry form */
.enquiry__form{
  background: url(../app/assets/images/enquire-now.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* Enquiry Section */
.enquiry__section{
  background: url(../app/assets/images/enquiry_section_bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex;
}
@media screen and (max-width: 576px) {
  .enquiry__section{
    flex-direction: column;
  } 
}